.containert {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
    *zoom: 1
}

.grid-testimonialst {
    overflow: hidden;
    padding-top: 3.125em
}

.grid-testimonialst li {
    float: left;
    list-style-type: none;
    padding-bottom: 3.125em
}

.grid-testimonialst {
    /* line-height: 1.5em;*/
    margin: 0
}

.grid-testimonials-citationt {
    color: #656262;
    display: block;
    font-size: 1.125em;
    font-weight: 700;
    margin-top: 2em;
    text-transform: uppercase;
    text-align: center
}

.grid-testimonialst li div {
    border: 3px solid #ebebeb;
    padding: 2.125em 7.638888888888889%;
    position: relative
}

.grid-testimonialst .quote-arrow {
    background: #cea701;
    border-right: 3px solid #cea701;
    border-bottom: 3px solid #cea701;
    content: '';
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -10px;
    width: 14px;
    height: 14px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@media screen and (min-width: 50em) {
    .grid-testimonialst li {
        margin-right: 5%;
        width: 100%
    }
    .grid-testimonialst li:nth-child(3n) {
        margin-right: 0
    }
}